# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [5]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
df = pd.read_csv(r"C:\Users\16183\Downloads\philadelphia_9-24-2016_9-30-2017.csv")
df.head(10)

df2 = pd.read_csv(r"C:\Users\16183\Downloads\boston_9-24-2016_9-30-2017.csv")
df2.head(10)

df3 = pd.read_csv(r"C:\Users\16183\Downloads\baltimore_9-24-2016_9-30-2017.csv")
df3.head(10)

df4 = pd.read_csv(r"C:\Users\16183\Downloads\new-york_9-24-2016_9-30-2017.csv")
df4.head(10)

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,180,190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [15]:
# Clean your data here!
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np

for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    

total_cells = np.product(df.shape)

missing_cells = pd.isnull(df).sum()

total_missing = missing_cells.sum()

percentage_missing = round((total_missing/total_cells), 2) *100

print(percentage_missing, "% Missing cells from the data")   

df["Repack"] = df["Repack"].replace({"N":False})
#Check status with a quick head check
df.head(3)
df["Type"] = df["Type"].fillna("Conventional")

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 0%
Sub Variety - 79%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%
45.0 % Missing cells from the data

In [14]:
for col in df2.columns:
    pct_missing = np.mean(df2[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    

total_cells = np.product(df2.shape)

missing_cells = pd.isnull(df2).sum()

total_missing = missing_cells.sum()

percentage_missing = round((total_missing/total_cells), 2) *100

print(percentage_missing, "% Missing cells from the data")   

df2["Repack"] = df2["Repack"].replace({"N":False})
#Check status with a quick head check
df2.head(3)
df2["Type"] = df2["Type"].fillna("Conventional")

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%
47.0 % Missing cells from the data

In [17]:
for col in df3.columns:
    pct_missing = np.mean(df3[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    

total_cells = np.product(df3.shape)

missing_cells = pd.isnull(df3).sum()

total_missing = missing_cells.sum()

percentage_missing = round((total_missing/total_cells), 2) *100

print(percentage_missing, "% Missing cells from the data")   

df3["Repack"] = df3["Repack"].replace({"N":False})
#Check status with a quick head check
df3.head(3)
df3["Type"] = df3["Type"].fillna("Conventional")

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%
51.0 % Missing cells from the data

In [18]:
for col in df4.columns:
    pct_missing = np.mean(df4[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    

total_cells = np.product(df4.shape)

missing_cells = pd.isnull(df4).sum()

total_missing = missing_cells.sum()

percentage_missing = round((total_missing/total_cells), 2) *100

print(percentage_missing, "% Missing cells from the data")   

df4["Repack"] = df4["Repack"].replace({"N":False})
#Check status with a quick head check
df4.head(3)
df4["Type"] = df4["Type"].fillna("Conventional")

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%
49.0 % Missing cells from the data

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [23]:
# Combine the four dataframes into one!
frames = [df, df2, df3, df4]

result = pd.concat(frames)

result

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,...,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Grade
0,PUMPKINS,PHILADELPHIA,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/16/2017,140,150.0,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
1,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150.0,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
2,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150.0,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
3,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,160.0,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
4,PUMPKINS,PHILADELPHIA,Conventional,36 inch bins,HOWDEN TYPE,NaN,10/01/2016,140,140.0,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,PUMPKINS,NEW YORK,Conventional,bushel cartons,MINIATURE,NaN,09/09/2017,32,32.0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
108,PUMPKINS,NEW YORK,Conventional,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/08/2016,18,18.0,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
109,PUMPKINS,NEW YORK,Conventional,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/08/2016,18,18.0,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
110,PUMPKINS,NEW YORK,Conventional,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/15/2016,18,18.0,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
111,PUMPKINS,NEW YORK,Conventional,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/15/2016,18,18.0,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [24]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
result.agg({'Low Price' : [ 'mean'], 'High Price' : ['mean']})

       Low Price  High Price
mean  134.183976  150.671365

In [28]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
result.agg({'City Name' : [ 'mean'], 'Variety' : ['mean']})

ValueError: no results

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!